.contacts {
  padding-top: 114px;
  padding-bottom: 123px;
}
.contacts__title {
  color: #070707;
  text-align: center;
  font-size: 34px;
  font-weight: 400;
}

.contacts__text {
  max-width: 275px;
  margin: 0 auto;
  margin-top: 20px;
  color: #070707;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.message__link {
  max-width: 180.5px;
  width: 100%;
  height: 42px;
  display: block;
  margin: 0 auto;
  margin-top: 29px;
  background-color: #070707;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  padding: 10px 30px;
  transition: 0.5s;
  outline: 1px solid black;
}

.message__link:hover {
  color: #070707;
  background-color: #fff;
}

.contacts__app {
  color: black;
  margin: 0 auto;
  margin-top: 85px;
  display: flex;
  justify-content: space-between;
  max-width: 342px;
  width: 100%;
  transition: 0.5s;
}

.app__link:hover {
filter: invert(47%) sepia(77%) saturate(5%) hue-rotate(46deg) brightness(94%) contrast(93%);
}

.contact__text {
  width: 243px;
  margin: 0 auto;
  margin-top: 45px;
  color: #828282;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 426px) {
  .contacts__text {
    max-width: 316px;
    text-align: center;
  }
  .message__link {
    max-width: 316px;
  }
}
