.header {
  padding: 30px 0;
}

nav {
  border-bottom: 1px solid #828282;
}
.list {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.link {
  color: #828282;
  font-size: 18px;
  font-weight: 400;
  transition: 0.5s;
}

.link:hover {
  color: #070707;
}

.header__title {
  color: #070707;
  max-width: 123px;
  width: 100%;
  margin-top: 40px;
  font-size: 47.339px;
  font-weight: 400;
}

.header__text {
  color: #070707;
  max-width: 155px;
  width: 100%;
  margin-top: 95px; 
  font-size: 18px;
  font-weight: 400;
}

.title{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.header__img {
  max-width: 940px;
  margin-top: 49px;
  width: 100%;
}

.header__img-mob{
  max-width: 316px;
  width: 100%;
  margin-top: 36px;
  display: none;
}

.line {
  margin-top: 30px;
}

@media screen and (max-width: 427px) {
  .header__title{
    max-width: 124px;
    width: 100%;
    margin-top: 65px;
  }

  .header__img{
    display: none;
  }

  .header__text{
    max-width: 155px;
    width: 100%;
    margin-top: 23px;
  }

  .nav{
    display: none;
  }

  .title{
    display: block;
  }

  .header__img-mob{
    display: block;
  }

}

/* @media screen and (max-width: 411px){
.container{
  display: none;
}
} */