.skills__container{
  max-width: 940px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: content-box;
}

.skills__title {
  color: #070707;
  margin-top: 90px;
  text-align: center;
  font-size: 34px;
  font-weight: bold;
}

.skills__text {
  margin-top: 70px;
  color: #070707;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.skills__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;

}

.skills__card {
  max-width: 166px;
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

.skills__img {
  display: block;
  margin: 0 auto;
}

.skills__name {
  margin: 0 auto;
  margin-top: 24px;
  max-width: 79px;
  text-align: center;
  color: #828282;
  font-size: 14px;
  font-weight: 400;
  flex-grow: 1;
}

.skills__stars {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 426px) {
  .skills__wrapper{
    justify-content: center;
  }

  .skills__title {
    color: #070707;
    margin-top: 83px;
    text-align: center;
    font-size: 34px;
    font-weight: 400;
  }

  .skills__text {
    margin-top: 50px;
    color: #070707;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
  }
  .skills__card {
    max-width: 166px;
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
  }
}